{% extends "otree/Session.html" %}

{% block content %}
  {{ super() }}

  <h4>Single-use links</h4>
  <p>Open each link in its own browser tab.</p>
  <table class="table">
    {% for participant_url in participant_urls %}
      <tr>
        <td><strong>{% if forloop.counter == 1 %}Director{% elif forloop.counter == 2 %}Matcher{% else %}P{{ forloop.counter }}{% endif %}</strong></td>
        <td><a href="{{ participant_url }}" class="participant-link" target="_blank">{{ participant_url }}</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}


