{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    You are not eligible to continue
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-muted">Thanks for your time. Based on your responses to the attention check, you are not eligible to participate in this study.</p>

            {% if prolific_return_url %}
                <a class="btn btn-primary" href="{{ prolific_return_url }}">Return to Prolific</a>
            {% else %}
                <p>Please close this window.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


