{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="mb-3">Debriefing Form for the referential communication task</h2>

            <p>Thank you for participating in this experiment.</p>

            <p>The purpose of this study is to better understand how people communicate and adapt to their partners (whether human or AI) in a collaborative task. The object-matching game you played is a classic referential communication task, which is often used to study how people develop shared understanding over time.</p>
            
            <p>To explore this, the study you participated in has four different conditions: a human paired with another human, a human Director paired with an AI Matcher, an AI Director paired with a human Matcher, or two AIs paired together. </p>
            
            <p>The condition you were in was Human-Human. There is no deception in this experiment.</p>

            <p>Our main hypothesis is that the effectiveness of communication would differ across these team types. Specifically, we predicted that human participants would naturally adjust the words they use to align with their partner, while the AI-partners will not.</p>

            <p>We will evaluate the quality of collaboration based on your team's accuracy (how many answers were correct), efficiency (time taken, number of turns, and word count), and the specific language you used (for instance, how your team settled on certain labels or descriptions for the objects over time). By comparing these measures across the different human-human and human-AI teams, we can better understand the strengths and weaknesses of current AI chatbots as collaborative partners.</p>

            <p>If you would like to receive a copy of the final report of this study (or a summary of the findings) when it is completed, please feel free to contact us later in the year (<a href="mailto:sbrennanlab@gmail.com">sbrennanlab@gmail.com</a>). If you would like to read earlier papers from our lab that use a similar referential communication task, see the following:</p>

            <ul>
                <li>Brennan, S. E., & Clark, H. H. (1996). Conceptual pacts and lexical choice in conversation. <em>Journal of Experimental Psychology: Learning, Memory, and Cognition</em>, 22(6), 1482.</li>
                <li>Brennan, S. E., & Hanna, J. E. (2009). Partner‐specific adaptation in dialog. <em>Topics in Cognitive Science</em>, 1(2), 274–2.</li>
            </ul>

            <!-- <p>Do you have any questions?</p> -->
            <p>Thanks again for your help with our research!</p>

            <div class="text-center mt-4">
                {% next_button %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


