{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h3 class="mb-3">Partner-specific perceptions</h3>

            <p>Please rate your agreement with the following statements about your partner.</p>
            <p class="text-muted small">
                This rating will not be shown to your partner, and will not be passed to the Prolific platform.
                It will only be used to assess the interaction in an anonymous manner by the researchers.
            </p>

            <div class="mb-5">
                {{ formfield 'partner_capable' }}
                <div class="form-text mt-n2">1 = strongly disagree, 5 = strongly agree</div>
            </div>

            <div class="mb-5">
                {{ formfield 'partner_helpful' }}
                <div class="form-text mt-n2">1 = strongly disagree, 5 = strongly agree</div>
            </div>

            <div class="mb-5">
                {{ formfield 'partner_understood' }}
                <div class="form-text mt-n2">1 = strongly disagree, 5 = strongly agree</div>
            </div>

            <div class="mb-5">
                {{ formfield 'partner_adapted' }}
                <div class="form-text mt-n2">1 = strongly disagree, 5 = strongly agree</div>
            </div>

            <div class="mb-5">
                {{ formfield 'collaboration_improved' }}
                <div class="form-text mt-n2">1 = strongly disagree, 5 = strongly agree</div>
            </div>

            <div class="mb-3">
                {{ formfield 'partner_comment' }}
            </div>

            <div class="text-center mt-4">
                {% next_button %}
            </div>
        </div>
    </div>
</div>
{% endblock %}



